<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  New Message
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New message</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <form name="new-message-form" [formGroup]="formData" novalidate>
      <div class="row">
        <label class="form-label">Message</label>
        <textarea
          id="message-body"
          class="form-control"
          name="body"
          formControlName="body"
        ></textarea>
      </div>
      <div class="row">
        <label class="form-label">Category</label>
        <select
          id="message-category"
          class="form-select"
          formControlName="categoryId"
        >
          @for (category of categories(); track $index) {
          <option [value]="category.id">{{ category.name }}</option>
          }
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="submitForm()"
      [disabled]="formData.invalid"
    >
      Save
    </button>
  </div>
</ng-template>
