/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #92b4a7;
  --color-secondary: #8c8a93;
  --background: #f2f3f7;
}

body {
  background-color: var(--background);
}
