<button class="btn btn-info" (click)="open(content)">View</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Message details</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Category: {{ message()?.category?.name }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Created at: {{ message()?.createdAt }}
        </h6>
        <p class="card-text">{{ message()?.body }}</p>
        <table class="table">
          <thead>
            <tr>
              <th>Sent to</th>
              <th>Notification method</th>
              <th>Sent at</th>
              <th>Delivery at</th>
            </tr>
          </thead>
          <tbody>
            @for (dispatch of message()?.messageDispatches; track $index) {
            <tr>
              <td>
                {{ dispatch.user.name }}
              </td>
              <td>
                {{ dispatch.channel.name }}
              </td>
              <td>
                {{ dispatch.createdAt }}
              </td>
              <td>
                {{ dispatch.deliveredAt }}
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>
